@model GqeberhaClinic.Models.Appointments
@using GqeberhaClinic.Areas.Identity.Data;
@if (User.IsInRole("Nurse"))
{
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create_Partial">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PatientID" class="control-label">Choose Patient</label>
                    <select asp-for="PatientID" class="form-control">
                        @foreach (GqebheraUser item in ViewBag.Patients)
                        {
                            <option value="@item.Id">@item.FirstName @item.LastName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Date_Time" class="control-label"></label>
                    <input asp-for="Date_Time" class="form-control" />
                    <span asp-validation-for="Date_Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Reason" class="control-label"></label>
                    <select asp-for="Reason" class="form-control">

                        <option value="Vaccination">Physical Examination</option>
                        <option value="Vaccination">for Vaccination</option>
                        <option value="Chronic">for Chronic Medication</option>
                        <option value="GBV">for Gender Based Violence</option>
                        <option value="Pathology">for Labs and Testing</option>
                    </select>
                    <span asp-validation-for="Reason" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Appointment" class="btn btn-primary m-2"/>
                </div>
            </form>
        </div>
      
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12 ">
            <form asp-action="Create_Partial">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Date_Time" class="control-label">Appointment Date and Time</label>
                    <input asp-for="Date_Time" class="form-control" />
                    <span asp-validation-for="Date_Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Reason" class="control-label"></label>
                    <select asp-for="Reason" class="form-control">

                        <option value="Vaccination">Physical Exam</option>
                        <option value="Vaccination">Vaccination</option>
                        <option value="Chronic Medication">Chronic Medication</option>
                        <option value="Family Planning">Family Planning</option>
                        <option value="Counselling">Counselling</option>
                    </select>
                    <span asp-validation-for="Reason" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Appointment" class="btn btn-primary mt-2" />
                </div>
            </form>
        </div>
     
    </div>
}



