<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
        @RenderBody()
        <img src="~/images/gqeberha.png" alt="Site Logo" style="height:25px; width: 25px" />

    </div>
</body>
</html>
l