
@{
    ViewData["Title"] = "Nurse";
    Layout = "~/Views/Shared/_GBV.cshtml";
}

<h1>Nurse</h1>

<style>
    #dash-con {
        background: rgba( 0, 13, 161, 0.5 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .container h1 {
        white-space: nowrap; /* Prevents text from wrapping to the next line */
        overflow: hidden; /* Hides any overflowing text */
        text-overflow: ellipsis; /* Truncates text with an ellipsis (...) */
    }

    #dash-con:hover {
        background: rgba(224, 255, 255, 0.7 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 10.5px );
        -webkit-backdrop-filter: blur( 10.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
</style>
@* 

<div class="container-fluid pt-4 px-4" style="background-color: lightblue">
    <p>What would you like to do today?</p>
    <ul>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
                Add New User
            </a>
        </li>
        
    </ul>
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
                View appointments
            </a>
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">
                <div class="ms-3">
                    <img src="~/images/app.png" style="width: 100px" />
                    <h4 class="mb-2">Appointments</h4>
                </div>
            </div>
        </div>
        <div class=" col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">


            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">
                <a class="nav-link" asp-area="" asp-controller="Medical_File" asp-action="Index">Medical Files</a>

                <div class="ms-3">
                    <img src="~/images/MedicalF.png" style="width: 100px" />
                    <h4 class="mb-2">Medical Records</h4>
                </div>
            </div>
        </div>


        <div class="  col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">


            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">
                <div class="ms-3">
                    <img src="~/images/MedicalF.png" style="width: 100px" />
                    <h4 class="mb-2">Report Cases</h4>
                </div>
            </div>
        </div>
        
    </div>
</div> *@

<div class="container-fluid pt-4 px-4" style="background-color: lightblue">



    <bold><h1>Welcome to <sapn class="text-primary">Gqeberha</sapn> <span class="text-warning">Clinic</span></h1></bold>
    <h3>Doctor's DashBoard</h3>
    <h4>What would you like to do today?</h4>
    <div class="container-fluid pt-4 px-4">

        <div class="container mt-5">
            <div class="card-group gap-2">
                <div class="card text-center">
                    <div class="card h-100">
                        <a style="text-decoration:none" asp-action="Index" asp-controller="Appointments">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <img src="~/images/p-removebg-preview.png" width="90" />
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-heading">Book an Appointment</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="card text-center">
                    <div class="card h-100">
                        <a style="text-decoration:none" asp-action="Index" asp-controller="ReportCases">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-2">
                                        <img src="~/images/p-removebg-preview.png" width="90" />
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-heading">Report A Case</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="card text-center">
                    <div class="card h-100">
                        <a style="text-decoration:none" asp-action="Index" asp-controller="Medical_File">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-3">
                                        <img src="~/images/p-removebg-preview.png" width="90" />
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-heading">View Patient Files</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="MyTable" class="table table-bordered table-secondary">
        <thead>
            <tr>
                <th colspan="3">Gender Based Violence Service providers</th>
            </tr>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type of Service</th>
                <th scope="col">Contact Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">GBV.org</th>
                <td>SA government call centre</td>
                <td>0800 428 428</td>

            </tr>
            <tr>
                <th scope="row">Law Clinic</th>
                <td>Free Legal services</td>
                <td>011 717 8562</td>

            </tr>
            <tr>
                <th scope="row">Netcare</th>
                <td>Emergency Medical Services</td>
                <td>082 911</td>
            </tr>
            <tr>
                <th scope="row">SAPS</th>
                <td>South African Police Service</td>
                <td>10111</td>
            </tr>
        </tbody>
    </table>

</div>
