@model GqeberhaClinic.Models.Counselling_Sessions
@using GqeberhaClinic.Models

@{
    ViewData["ViewTitle"] = "Create New Session";
    ViewData["Description"] = "Create a Session as a patient";
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Counselling.cshtml";
}

<h1>Create</h1>
<h4>Counselling_Sessions</h4>
<hr/>
@if (TempData["Success"] != null)
{
        <div class="bg-success text-center w-100 p-3 rounded" id="tempdata" role="alert">
            <h5 class="text-white">@TempData["Success"]</h5>
        </div>
}
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SessionCreatedDate" class="control-label"></label>
                <input asp-for="SessionCreatedDate" class="form-control" />
                <span asp-validation-for="SessionCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionDate" class="control-label"></label>
                <input asp-for="SessionDate" class="form-control" />
                <span asp-validation-for="SessionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionTime" class="control-label"></label>
                <input asp-for="SessionTime" class="form-control" />
                <span asp-validation-for="SessionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CounsellorID" class="control-label"></label>
                <select asp-for="CounsellorID" class="form-control" asp-items="ViewBag.CounsellorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentID" class="control-label"></label>
                <select asp-for="AppointmentID" class="form-control" asp-items="ViewBag.AppointmentID"></select>

            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    
<div>
    <a asp-action="Index">Back to List</a>
</div>