@{
    ViewData["Title"] = "Main Dashboard";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<div class="mb-3">
    <bold><h1>Welcome to <sapn class="text-primary">Gqeberha</sapn> <span class="text-warning">Clinic</span></h1></bold>
</div>
@if (User.IsInRole("Patient"))
{
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Patient" asp-controller="Walk_In">

                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <img src="~/images/p-removebg-preview.png" width="90" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Walk-in Patient</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Patient" asp-controller="Counselling">

                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <img width="90" src="~/images/c-removebg-preview.png" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Counselling</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Patient" asp-controller="GBV">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-3">
                                <img width="60" src="~/images/istockphoto-1204445468-612x612-removebg-preview.png" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Gender-based Violence</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Patient" asp-controller="Family_Planning">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <img width="90" src="~/images/istockphoto-1432174656-612x612-removebg-preview.png" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Family Planning</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
               
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Patient" asp-controller="Chronic">

                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <img width="90" src="~/images/istockphoto-1432174656-612x612-removebg-preview.png" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Chronic-Medication</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
              
            </div>
        </div>
    </div>
}
else if (User.IsInRole("Doctor"))
{

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Doctor" asp-controller="Walk_In">

                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <img src="~/images/p-removebg-preview.png" width="90" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Walk-in Patient</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Doctor" asp-controller="Counselling">

                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <img width="90" src="~/images/c-removebg-preview.png" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Counselling</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Doctor" asp-controller="GBV">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-3">
                                <img width="60" src="~/images/istockphoto-1204445468-612x612-removebg-preview.png" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Gender-based Violence</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Doctor" asp-controller="Family_Planning">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <img width="90" src="~/images/istockphoto-1432174656-612x612-removebg-preview.png" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Family Planning</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Doctor" asp-controller="Chronic">

                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <img width="90" src="~/images/istockphoto-1432174656-612x612-removebg-preview.png" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Chronic-Medication</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>

}
else if (User.IsInRole("Nurse"))
{
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Nurse" asp-controller="Walk_In">

                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <img src="~/images/p-removebg-preview.png" width="90" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Walk-in Patient</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        @*<div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="" asp-controller="Counselling">

                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <img width="90" src="~/images/c-removebg-preview.png" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Counselling</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>*@

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Nurse" asp-controller="GBV">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-3">
                                <img width="60" src="~/images/istockphoto-1204445468-612x612-removebg-preview.png" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Gender-based Violence</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Patient" asp-controller="Family_Planning">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <img width="90" src="~/images/istockphoto-1432174656-612x612-removebg-preview.png" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Family Planning</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a asp-action="Nurse" asp-controller="Chronic">

                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <img width="90" src="~/images/istockphoto-1432174656-612x612-removebg-preview.png" />
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-heading">Chronic-Medication</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
}

@* else if (User.IsInRole("Administration"))
{
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <img src="~/images/p-removebg-preview.png" width="90" />
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">

                                <div class="stat-heading">Walk-in Patient</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <img width="90" src="~/images/c-removebg-preview.png" />
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">

                                <div class="stat-heading">Counselling</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <img width="60" src="~/images/istockphoto-1204445468-612x612-removebg-preview.png" />
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">

                                <div class="stat-heading">Gender-based Violence</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <img width="90" src="~/images/istockphoto-1432174656-612x612-removebg-preview.png" />
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">

                                <div class="stat-heading">Family Planning</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <img width="90" src="~/images/istockphoto-1432174656-612x612-removebg-preview.png" />
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">

                                <div class="stat-heading">Chonic-Medication</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
} *@

<h2 class="mb-2 text-center">Why <span class="text-primary">Gqeberha</span> Clinic is the best</h2>
<div class="row">

    <div class="col-md-6">
        <div class="card">
            
            <img style ="width:300px" class="card-img-top" src="~/images/istockphoto-1408909553-612x612-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title mb-3">Best Nurse and Doctors</h4>
                <p class="card-text">Dedicated and compassionate, the best doctors and nurses exemplify unwavering commitment to healing and caring for others. </p>
            </div>
        </div>
    </div>
 
    <div class="col-md-6">
        <div class="card"> 
            <img style="width:275px" class="card-img-top" src="~/images/istockphoto-1363270862-612x612-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title mb-3">24 hours Service</h4>
                <p class="card-text">Providing around-the-clock health service, we ensure that medical care is readily available whenever it's needed.</p>
            </div>
        </div>
    </div>

</div>




@*<div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <img src="~/images/p-removebg-preview.png" width="90" />
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">

                                <div class="stat-heading">Walk-in Patient</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <img width="90" src="~/images/c-removebg-preview.png" />
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">

                                <div class="stat-heading">Counselling</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <img width="60" src="~/images/istockphoto-1204445468-612x612-removebg-preview.png" />
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">

                                <div class="stat-heading">Gender-based Violence</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <img width="90" src="~/images/istockphoto-1432174656-612x612-removebg-preview.png" />
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">

                                <div class="stat-heading">Family Planning</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <img width="90" src="~/images/istockphoto-1432174656-612x612-removebg-preview.png" />
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">

                                <div class="stat-heading">Chonic-Medication</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>*@